@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox



<root style="flex-direction: column">
	
	<div class="Defaults">
		<h1>MTGSbox</h1>
	</div>

	<div class="Defaults">
		<Button onclick="@LoadTheTable">LoadTheTableButton</Button>
	</div>

</root>


@code
{
	protected override void OnStart()
	{
		Mouse.Visibility = MouseVisibility.Visible;
	}
	
	private void LoadTheTable()
	{
		var load = new SceneLoadOptions();
		load.SetScene("scenes/table.scene");
		load.IsAdditive = false;
		Scene.Load(load);
	}
	
	
	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}