
@mixin DebugDefaults($bool){
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

*{
  @include DebugDefaults(1);
}



@mixin DefaultSpacing($amt){
  margin: $amt;
  padding: $amt;
}

@mixin DefaultFont($clr){
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: $clr;
}



@mixin btn(){
  @include DefaultSpacing(0.5rem);
  @include DefaultFont(white);
  pointer-events: all;

  width: auto;
  height: 4rem;
  border-radius: 0.5rem;
  border: 0.25rem black;
  align-items: center;
  justify-content: center;
  background-color: gray;
  transition: background-color 0.25s;
  &:hover {
    background-color: darkgray;
  }
}

@mixin Panel(){
  @include DefaultSpacing(0.5rem);
  background-color: rgba(0,0,0,0.65);
}


//
// Application
//

button, Button {
  @include btn;
}

.Defaults{
  @include Panel;
  border: 2px black;
  border-radius: 0.5rem;
  
  h1{
    
  }
  
}